@{
    ViewData["Title"] = "Creación de Cuenta";
}

<h1>Crear Cuenta</h1>

<form method="post">

    <div asp-validation-summary="All"></div>

    <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Usuario</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="username">
    </div>

    <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Correo Electronico</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="correo">
    </div>

    <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Contraseña</span>
    <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>