@{
    ViewData["Title"] = "Sube tu Fail";
}

<h1>Sube tu Fail</h1>

<form action="" method="post">


    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Usuario</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="UsuarioEjemplo">
        </div> 

            <div class="mb-3">
                <input class="form-control" type="file" id="formFile">
            </div>
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Título del Fail</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Pongale un título a su fail">
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>



</form>