@{
    ViewData["Title"] = "Perú Fails";
}

<div class="text-left">
    <img src="img/fails.jpg" width="600" height="350">
</div>

<div class="text-right">
    <h1 class="display-4">Bienvenido a Perú Fails</h1>
</div>
